.blogs-list{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   gap: 40px;
   margin-top: 20px;
   padding: 40px;
}

.blog{
     box-shadow: rgba(253, 252, 252, 0.24) 0px 3px 8px;
     padding: 40px;
     background-color: rgb(239, 15, 7);
     text-align: center;
}
.timestamp{
    color: black;
    font-size: 12px;
}
.delete-button{
    margin-top: 20px;
    background-color: rgb(13, 211, 56);
}

@media (max-width: 900px) {
    .blogs-list{
        grid-template-columns: repeat(3,1fr);
    }

}
@media (max-width: 650px) {
    .blogs-list{
        grid-template-columns: repeat(2,1fr);
    }

}
@media (max-width: 450px) {
    .blogs-list{
        grid-template-columns: repeat(1,1fr);
    }

}
/* Add this to your blog.css or create a new CSS file for styling */

.search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .search-bar button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-bar button:hover {
    background-color: #0056b3;
  }
  