
.home-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    
  }
  
  .hero {
    text-align: center;
    margin-bottom: 60px;
  }
  img{
    width: 60%;
    margin: auto;
  }
  .hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #d70b0b;
  }
  @media (max-width: 768px) {
    .hero h1 {
      font-size: 36px;
    }
  }
  
  
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 28px;
    }
  }
  